.overlay-header {
	position: relative;
	width: 100%;
	padding-bottom: 65%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

	&::before {
		content: "";
		height: 100%;
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		background: linear-gradient(rgba(0, 0, 0, 0.8) 5%, rgba(0, 0, 0, 0) 60%);
	}

	.top {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: var(--ion-padding);
	}

	ion-back-button,
	app-share {
		display: block;
		--color: var(--ion-color-light);
	}
}

header {
	margin-bottom: 2em;

	h1 {
		margin-top: 0;
	}

	.category {
		font-size: 1.2em;
		margin-bottom: 0.5em;
	}

	.meta {
		font-size: 0.9em;
	}
}