<ion-content>
	<div class="overlay-header" *ngIf="post" [style.backgroundImage]="postImage">
		<ion-back-button></ion-back-button>
	</div>
	<div *ngIf="post" class="ion-padding">
		<header>
			<p class="category" *ngIf="post.categories" [innerHTML]="post._embedded['wp:term'][0][0].name"></p>
			<h1 [innerHTML]="post.title.rendered"></h1>
			<p class="meta">
				{{'publised' | translate}} {{post.date | amTimeAgo}}
				<ng-template [ngIf]="post._embedded.author">{{'by' | translate}} <span [innerHTML]="post._embedded.author[0].name"></span></ng-template>
			</p>
			<div *ngIf="post.tags">
				<ion-chip color="primary" outline="true" *ngFor="let tag of post._embedded['wp:term'][1]">
					<ion-label [innerHTML]="tag.name"></ion-label>
				</ion-chip>
			</div>
		</header>
		<article [innerHTML]="post.content.rendered"></article>
		<app-comment-list [postId]="post.id"></app-comment-list>
	</div>
</ion-content>