
<ion-content>
	<ion-toolbar class="header" *ngIf="view.header.enabled">
		<ion-buttons slot=start>
			<ion-back-button></ion-back-button>
		</ion-buttons>
		<ion-title>{{view.header.title}}</ion-title>
	</ion-toolbar>
	<div *ngIf="view.taxSlider.enabled">
		<app-taxonomy-slider taxonomy="categories" (termSelected)="selectNewCategory($event, 'categories')"></app-taxonomy-slider>
	</div>
	<ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
		<ion-refresher-content></ion-refresher-content>
	</ion-refresher>
	<ng-template [ngIf]="!loading && posts">
		<app-post-card *ngFor="let post of posts" [post]="post"></app-post-card>
	</ng-template>
	<ng-template [ngIf]="loading">
		<app-skeleton-card></app-skeleton-card>
		<app-skeleton-card></app-skeleton-card>
		<app-skeleton-card></app-skeleton-card>
		<app-skeleton-card></app-skeleton-card>
	</ng-template>
	<ion-infinite-scroll (ionInfinite)="getNextPage($event)" [disabled]="lastPage">
		<ion-infinite-scroll-content></ion-infinite-scroll-content>
	</ion-infinite-scroll>
	<ng-template *ngIf="lastPage">
		{{ "No more posts" | translate}}
	</ng-template>
</ion-content>