<ion-header>
	<ion-toolbar *ngIf="view.header.enabled">
		<ion-buttons slot=start>
			<ion-back-button></ion-back-button>
		</ion-buttons>
		<ion-title>{{view.header.title}}</ion-title>
	</ion-toolbar>
	<ion-toolbar class="tax-toolbar" *ngIf="view.taxSlider.enabled">
		<app-taxonomy-slider taxonomy="categories" (termSelected)="selectNewCategory($event, 'categories')">
		</app-taxonomy-slider>
	</ion-toolbar>
</ion-header>
<ion-content>

	<ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
		<ion-refresher-content></ion-refresher-content>
	</ion-refresher>
	<ng-template [ngIf]="!loading && posts.length > 0">
		<ion-grid>
			<ion-row>
				<ion-col size="12" size-md="6" *ngFor="let post of posts">
					<app-post-card [post]="post"></app-post-card>
				</ion-col>
			</ion-row>
		</ion-grid>
	</ng-template>
	<ng-template [ngIf]="!loading && posts.length === 0">
		<div class="ion-padding ion-margin-vertical">
			<p class="lead">
				{{'empty-archive-1' | translate}} 
				{{'empty-archive-2' | translate}}
			</p>
		</div>
		<div class="ion-text-center">
			<ion-button size="large" (click)="goBack()">{{'go-back' | translate}}</ion-button>
		</div>
	</ng-template>
	<ng-template [ngIf]="loading">
		<ion-grid>
			<ion-row>
				<ion-col size="12" size-md="6">
					<app-skeleton-card style="display:block;height: 380px;"></app-skeleton-card>
				</ion-col>
				<ion-col size="12" size-md="6">
					<app-skeleton-card style="display:block;height: 380px;"></app-skeleton-card>
				</ion-col>
				<ion-col size="12" size-md="6">
					<app-skeleton-card style="display:block;height: 380px;"></app-skeleton-card>
				</ion-col>
				<ion-col size="12" size-md="6">
					<app-skeleton-card style="display:block;height: 380px;"></app-skeleton-card>
				</ion-col>
				<ion-col size="12" size-md="6">
					<app-skeleton-card style="display:block;height: 380px;"></app-skeleton-card>
				</ion-col>
				<ion-col size="12" size-md="6">
					<app-skeleton-card style="display:block;height: 380px;"></app-skeleton-card>
				</ion-col>
				<ion-col size="12" size-md="6">
					<app-skeleton-card style="display:block;height: 380px;"></app-skeleton-card>
				</ion-col>
				<ion-col size="12" size-md="6">
					<app-skeleton-card style="display:block;height: 380px;"></app-skeleton-card>
				</ion-col>
			</ion-row>
		</ion-grid>
	</ng-template>
	<ion-infinite-scroll (ionInfinite)="getNextPage($event)" [disabled]="lastPage">
		<ion-infinite-scroll-content></ion-infinite-scroll-content>
	</ion-infinite-scroll>
	<ng-template *ngIf="lastPage">
		{{ "last-page-notice" | translate}}
	</ng-template>
</ion-content>