<ion-header>
	<ion-toolbar color="light">
		<ion-buttons slot="start">
			<ion-back-button></ion-back-button>
		</ion-buttons>
		<ion-searchbar mode="ios" (ionClear)="search()" (ionChange)="search($event.target.value)" [value]="query"
			showCancelButton="never" debounce="1000" placeholder="{{'search' | translate}}"></ion-searchbar>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ng-template [ngIf]="!loading && this.query">
		<ion-list *ngIf="posts.length > 0">
			<ion-item lines="none" *ngFor="let post of posts" [routerLink]="['/post', post.id]" >
				<ion-label [innerHTML]="post.title"></ion-label>
			</ion-item>
		</ion-list>
		<div *ngIf="posts.length === 0" class="ion-padding">
			{{'no-results' | translate}}
		</div>
		<ion-infinite-scroll (ionInfinite)="nextPage($event)" [disabled]="lastPage">
			<ion-infinite-scroll-content></ion-infinite-scroll-content>
		</ion-infinite-scroll>
	</ng-template>
	<ng-template [ngIf]="latestSearches && latestSearches.length && !this.query">
		<ion-list>
			<ion-list-header>
				{{'latest-searches' | translate}}
			</ion-list-header>
			<ion-item *ngFor="let searchTerm of latestSearches.slice(0,10)" (click)="search(searchTerm.term)">
				{{searchTerm.term}}
			</ion-item>
		</ion-list>
	</ng-template>
	<ng-template [ngIf]="loading">
		<ion-list>
			<ion-item>
				<ion-skeleton-text animated></ion-skeleton-text>
			</ion-item>
			<ion-item>
				<ion-skeleton-text animated></ion-skeleton-text>
			</ion-item>
			<ion-item>
				<ion-skeleton-text animated></ion-skeleton-text>
			</ion-item>
			<ion-item>
				<ion-skeleton-text animated></ion-skeleton-text>
			</ion-item>
		</ion-list>
	</ng-template>
</ion-content>